//- ### ### ### SIZE
@mixin size($width, $height: false) {
  width: $width;
  height: if($height, $height, $width);
}

//- ### ### ### MAX WIDTH / HEIGHT
@mixin maxSize($width, $height: false) {
  max-width: $width;
  max-height: if($height, $height, $width);
}

// CLEARFIX
@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}

// FLEXBOX
@mixin flex($direction: row, $wrap: wrap, $justify: center) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
}

@mixin flexItem($basis: auto, $shrink: 1, $grow: 0) {
  flex-basis: $basis;
  flex-shrink: $shrink;
  flex-grow: $grow;
}

// COLUMNS
@mixin columns($type, $prefix: 'c') {
  $columns: 12;
  $column-width: 8.3333%;
  @for $i from 1 through $columns {
    .#{$prefix}#{$type}-#{$i} {
      @if $i == $columns {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        width: 100%;
        max-width: round($column-width * $i);
      } @else {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: $column-width * $i;
        max-width: $column-width * $i;
      }
    }
  }
}
